---
Checks: >
  -*,
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  portability-*,
  -bugprone-easily-swappable-parameters,
  -performance-enum-size,
  -performance-no-int-to-ptr,
  -clang-analyzer-optin.core.EnumCastOutOfRange
WarningsAsErrors: '*'
HeaderFilterRegex: '.*[\\/](OAC-Client[\\/].*|shared[\\/]oac_windows\.hpp)$'
...
